<div class="flex justify-center w-full bg-gradient-to-b from-emerald-400 to-gray-50 print:hidden">
    <div
        class="w-full p-0 my-1 md:my-0 md:mt-12 md:mx-8 md:pt-2 md:pb-12 md:rounded-t-xl border-b sm:shadow-2xl overflow-hidden bg-card">
        <div class="relative flex flex-auto flex-0 items-center h-16 px-4 md:px-6">
            <ng-container>
                <div class="flex items-center mx-2">
                    🌼 Arborização Social 🌼
                </div>
            </ng-container>

            <div class="flex items-center pl-2 ml-auto space-x-1 sm:space-x-2">
                <!-- <search [appearance]="'bar'"></search> -->
            </div>
        </div>
        <div class="flex items-top justify-center w-full py-10 px-4 md:px-6 scroll-smooth focus:scroll-auto">
            <div class="flex flex-col items-center w-full md:w-1/2 px-4 md:px-6">
                <div class="text-4xl">BEM-VINDO Á ARBORIZAÇÃO SOCIAL!</div>

                <div class="text-1xl">Aqui na Arborização Social, buscando disseminar principalmente a
                    jardinagem
                    doméstica, além de coloca em prática novas tecnologias constantemente como forma de melhorar
                    a
                    experiência que você tem ao acessar nosso site.
                    <br>
                    Quando efetuar a compra, você será redirecionado ao nosso WhatsApp mostrando cada etapa do
                    seu
                    pedido.
                    <br><br>
                    Sinta-se a vontade para ver o quanto quiser!
                </div>
            </div>
        </div>
    </div>
</div>

<section class="flex flex-auto justify-center w-full sm:px-8  bg-gradient-to-b from-gray-50 to-emerald-400">
    <div class="flex flex-col flex-auto w-full sm:max-w-360 sm:shadow-xl sm:overflow-hidden bg-default z-50">
        <app-plants class="w-full"></app-plants>
    </div>
</section>

<footer class="relative flex justify-center w-full z-49 print:hidden z-50">
    <div
        class="flex items-center max-w-360 w-full h-14 sm:h-20 px-6 md:px-8 sm:shadow-xl border-t bg-card dark:bg-default">
        <span class="font-medium text-secondary">Arborização Social &copy; {{currentYear}}</span>
    </div>
</footer>